       <div class = 'helpContainer'>
            <img src = "img/Marcelo.png" id="marcelo"/>

            {{#if firstBody}}
                <p class = "tutorialBox">Hey {{username}}! Nice to meet you!<button  {{action 'tutorialFirst'}}>n</button></p>
            {{/if}}
            {{#if secondBody}}
                <p class = "tutorialBox"> I'm Jeffrey Cogo, and I'm here to help you out!<button {{action 'tutorialSecond'}}>n</button></p>
            {{/if}}
            {{#if thirdBody}}
                <p class = "tutorialBox">Lets get started...<button  {{action 'tutorialThird'}}>n</button></p>
            {{/if}}
            {{#if fourthBody}}
                <p class = "tutorialBox">Awesome! Here is how you can help your organisation! Try typing in anything
                that you think you are good at and press enter.</p>
            {{/if}}
            {{#if fifthBody}}
                <p class = "tutorialBox">Wow! See that? <button  {{action 'tutorialFifth'}}>n</button></p>
            {{/if}}
            {{#if sixthBody}}
                <p class = "tutorialBox">You added a skill to the list. Skills that are already in the organisation will appear in the box underneath.<button  {{action 'tutorialSixth'}}>n</button></p>
            {{/if}}    
            {{#if seventhBody}}
                <p class = "tutorialBox">Add at least 4 more skills, and we will be ready to go on</p>
            {{/if}}                 

        </div>