        <div class="actions">
            <span {{action 'ask'}} {{bind-attr class="askSelected"}}>Ask Question</span>
            <span {{action 'solved'}}{{bind-attr class="solvedSelected"}}>Solved {{solved}}</span>
            <span {{action 'unsolved'}}{{bind-attr class="unsolvedSelected"}}>Unsolved</span>
        </div>