        <div class="question-stack">
            {{#each questionsyouask in controller}}
                {{#view App.QuestionView contentBinding="this"}}
                   <p class = "questionParagraph" {{action 'toSolvedAnswer' questionsyouask}}>  {{questionsyouask.qbody}} <br/> Total answers: {{questionsyouask.totalAnswers}}  <br/>New answers: {{questionsyouask.newAnswers}}</p>
                {{/view}}
                {{else}}
                {{#view App.QuestionView contentBinding="this"}}
                    <p class = "questionParagraph">  You haven't asked any questions. You should.... </p>
                {{/view}}
            {{/each}}
        </div>
