<div class = 'question-stack'>
   
    <h4>Your Question </h4>
    {{#view App.YourAnswersView contentBinding="this"}}
        <p class="solvedAnswersParagraph">{{qbody}}</p>
    {{/view}}
        <h4>The Answers Provided </h4>
        
        <h5>New Answers</h5>
        {{#each answer in answers}}
            {{#if answer.read}}

            {{else}}
            
                {{#view App.YourAnswersView contentBinding="this"}}
                    <p class="solvedAnswersParagraph">{{answer.abody}}</p>
                {{/view}}
            {{/if}}
            
            {{else}}
            {{#view App.YourAnswersView contentBinding="this"}}
                <p class="solvedAnswersParagraph">nothing</p>
            {{/view}}
        {{/each}}

        <h5>Old Answers</h5>
        {{#each answer in answers}}
            {{#if answer.read}}
                {{#view App.YourAnswersView contentBinding="this"}}
                    <p class="solvedAnswersParagraph">{{answer.abody}}</p>
                {{/view}}
            {{/if}}
        {{/each}}
</div>