<body>
<div class='sidebar'>
    <h4>{{firstname}} <br/> {{lastname}}</h4>
    <ul class="nav nav-stacked">
        <li><a href = '#/questionspage/askaquestion/ask' {{bind-attr class="ask"}} {{action 'toQuestions'}}> Ask Question {{newAnswers}}</a><span></span></li>
        <li> <a href = '#/questionspage/answeraquestion' {{bind-attr class="answer"}} {{action 'toAnswers'}}>Answer A Question</a><span></span></li>
    </ul>
</div>
<div class='content-pane'>
    <div class='content'>
           
        {{outlet}}
        
    </div>
</div>

</body>
